<h1>Stock Viewer</h1>
<div class="details">Symbol: {{symbol}}</div>
<div class="details">Date: {{date}}</div>
<h2>Last Five Days Closing Prices</h2>
<ul>
    <li>Close: {{currency closeOne}}</li>
    <li>Close: {{currency closeTwo}}</li>
    <li>Close: {{currency closeThree}}</li>
    <li>Close: {{currency closeFour}}</li>
    <li>Close: {{currency closeFive}}</li>
    
</ul>


