  <h2 class="project-title">Project: {{ title }}</h2>
  <section class="details">
    <h3>Details</h3>
    <ul>
      <li>Project Start - {{ startDate }}</li>
      <li>Project End - {{ endDate }}</li>
      <!-- use helper to format as currency -->
      <li>Estimated Budget - {{ currency budget }}</li>
    </ul>
    <section>
      <h4>Project Managers</h4>
      <table class="tbl-managers">
        <thead>
          <tr><th>Name</th><th>Position</th><th>Experience</th></tr>
        </thead>
        <tbody>
        	{{ #each managers }}
        	<tr>
        		<td>{{ name }}</td>
        		<td>{{ position }}</td>
        		<td>{{ experience }}</td>
        	</tr>
        	{{ /each }}
        </tbody>
      </table>
    </section>                    
  </section>